:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #102700;
  background-color: #F6F9FF;
}

a {
  font-weight: 500;
  color:#FCFDFF;
  text-decoration: inherit;
  background-color: #274CEF;
  padding: 5px 20px;
  border-radius: 15px;

}
a:hover {
  
  background-color:#14296D;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:focus, 
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


